# Ignore the virtual environment
.venv/

# Ignore all __pycache__ directories
__pycache__/

# Ignore SQLite database files (if you're using SQLite)
*.sqlite3

# Ignore all .pyc, .pyo and .pyd files
*.pyc
*.pyo
*.pyd

# Ignore migration files to keep them in a separate repository if needed
# migrations/

.idea/

# Ignore all media files
media/

# Ignore all .env files (for environment variables)
.env

# Ignore other common files
.DS_Store
*.swp
*.swo
*.swn
*.bak
